
.button {
    margin-left: 121px;
    margin-top: 10px;
     background-color: blue;
     padding: .5em 2em .55em;

     -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
     position:absolute;
}

/*
.btnBorrar {
    background:url(../imagenes/doblearrows32.png) no-repeat; 
    position:absolute;
    display: none;
    background-color: dark-grey;
    cursor:pointer;
    border:none;    
    width:32px;
    height:32px;
    top:70px; /*antes 14%;*/
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    right:-44px;        
    z-index: 10;
    
   
}  */


.open-btnBorrar {
  right:-44px;
  top:50px; /* antes 13%;  */
  left: auto
}

/*.close-btnBorrar{
   right:14px;  
   left:auto;
}

.esconder-btnBorrar{
    right:-44px;  
    left:auto;    
}
*/

.results {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 320px;
    height: 480px;
    overflow-y: scroll;
}

