html, body {  /*color icon #ebce67 */
  margin:0px;
  padding:0px;
  height:100%;
  width:100%;
  font-family: helvetica;
  font-weight: 100;   
  overflow-x: hidden;
    
}

.container{
  width:300px;  
  height:100%;  
  

  
  //background-color:green;
  //float:right;
  position:absolute;
  right:-260px;  
 
  -webkit-transition:  right 0.4s ease-in-out;
    -moz-transition:  right 0.4s ease-in-out;
    -ms-transition:  right 0.4s ease-in-out;
    -o-transition:  right 0.4s ease-in-out;
    transition:  right 0.4s ease-in-out;  

}

.open-sidebar{
    right:0px;
}

.close-sidebar{
    right:-260px;
}

.slide-menu {
  /*position:absolute; */
  right:0px;
}

#sidebar{
  width: 260px;  /*antes 270 */
  /*height: 100%;*/
  height: 90%;
  background-color: #A10E09; /*#DF314D;  */
  position:absolute;
  /*left:40px;   */
  left:60px;
  /* top:0px;  */
  top:10px;  

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 4px; 
  z-index:10; 
}

/*#sidebar li span { 
 #sidebar .menu li ul .fijo {
    background-color: #DF314D;  
  }  */

 #sidebar .menu li ul li span{
   background-color: #A10E09; /*#DF314D;  */
 } 


.menu , .submenu {
  width:100%;
  height:100%;
  background-color: #A10E09;
  
  list-style-type:none;
  margin:0;
  padding:0; 
  border-radius: 4px; 
  webkit-transition:  right 0.4s ease-in-out;
    -moz-transition:  right 0.4s ease-in-out;
    -ms-transition:  right 0.4s ease-in-out;
    -o-transition:  right 0.4s ease-in-out;
    transition:  right 0.4s ease-in-out;  
}


.submenu {
  display:none;
  position:absolute;
  top:0px;
  right: -260px;  
 
  background-color:#A10E09; /*#DF314D;   */
}   

.menu li, .submenu li {
  border-bottom: 1px solid #B5180E; //#C9223D;
  border-radius: 4px;  /*  mio */
}


/*  FIN NUEVO SUBMENU */

.texto p{
  font-size: 14px;
  color: #020011;
  padding-left:0;
  text-align: left;
}

.texto #dec{
  /*font-size: 14px;  */
  padding-left:0;
  color: #FDA841; /*#1B238F;  */
}



/* FF ahora sin comentarios  */
 .submenu li a, .submenu li span {
  display:block;
  
  padding: 15px 20px 15px 35px;
  text-decoration:none;
  text-align: center;
  color: #FDFDFD; 

  -webkit-transition:  background 0.3s ease-in-out;
  -moz-transition:  background 0.3s ease-in-out;
  -ms-transition:  background 0.3s ease-in-out;
   -o-transition:  background 0.3s ease-in-out;
   transition:  background 0.3s ease-in-out;
}  


.bar {
  width: 60%;
  height:3px;
  display:block;
  background-color: #fff;
  margin: 0px 0px 3px 0px;
}

.main-content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  
  border-radius: 3px;
  width: 40px;
  height: auto;
  position: absolute;  
  
  padding: 10px 0px 6px 12px;    

  margin:0;
  
  top: 10px;  /* antes 0 */
  left: -10px; /* antes 0 */
  right:400px;

  z-index:10;
  background-color: #A10E09; /*#DF314D;  */
  
}

/*.back {
    //background-color: orange;
    //color: black;
    padding: 0px;
}*/


 
#sidebar ul li:focus ul,
#sidebar ul li:active ul{
    right:0px;
} 

/*#sidebar ul li ul li:focus ul, por ahora comentado 
#sidebar ul li ul li:active ul{
    right:0px;
} */


/*#sidebar ul li ul li submenu_i | back_i  */



#sidebar ul li a, #sidebar ul li span, 
#sidebar .menu li ul li span {   /*puesto por mi  ultimo renglon agregado *****/

    padding: 15px 20px 15px 35px;  
    text-align: left;
    font-size: 16px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #B5180E; /*#821608; /*#A92D10 #C9223D; */

    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;  

}


/* Para submenu   */

/* #sidebar ul li span ul li a span, #sidebar ul li span ul li a,#sidebar ul li span ul li a span p,
#sidebar ul li  span ul li span,  */
#sidebar ul li span ul li a, #sidebar ul li span ul li ul li a*,
#sidebar ul li span ul li ul li span, #sidebar ul li span ul li ul li span p {

    padding: 15px 20px 15px 35px;  
    text-align: left;
    font-size: 16px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #B5180E; /*#A92D10 #C9223D; */


    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;

}


/* Fin para submenu */

.menu li a, 
.menu li span {
  display:block;
  /*padding: 20px;  lo de abajo es mio*/
  padding: 15px 20px 15px 35px;
  text-decoration:none;
  text-align: center;
  color: #A92D10; /*#FDFDFD;  */

  -webkit-transition:  background 0.3s ease-in-out;
  -moz-transition:  background 0.3s ease-in-out;
  -ms-transition:  background 0.3s ease-in-out;
   -o-transition:  background 0.3s ease-in-out;
   transition:  background 0.3s ease-in-out;

}


#sidebar li:hover {  /*puesto por mi */

    background: #BD110A; /*#C9223D;  */
    border-radius: 4px;
}



#sidebar ul> li:hover> a, #sidebar ul li:hover span { /* aca sin el > antes */
  color:white;
  background-color:#BD110A; /*#A1220C; /*#C9223D;*/ /*#DF314D; red;   cambio */
  border-radius: 4px;  /* puesto por mi */
}


/*#sidebar .menu li ul li:hover, /*prueba */
#sidebar .menu li ul li span:hover {  /* prueba   */
  background-color:#BD110A; /*#C9223D; /*#DF314D; red;   cambio */
  border-radius: 4px;  /* puesto por mi */
  }

/*.back {
    background-color: #DF314D;  orange;  
    color: white;
   padding: 0px;  este no va
    padding: 15px 20px 15px 35px;
} */ 




#sidebar .menu{  /*puesto por mi   */

  border-radius: 4px; 
}


 #sidebar .menu .menu1 {   

    display: inline-block;
    background: url(../imagenes/pois.png) no-repeat 4px 10px;        
 }

 #sidebar .menu .menu2 {

    display: inline-block;
    background: url(../imagenes/search.png) no-repeat 4px 10px;        
 }

 #sidebar .menu .menu3 {

    display: inline-block;
    background: url(../imagenes/ruteo.png) no-repeat 4px 10px;        
 }

#sidebar .menu .menu4 {

    display: inline-block;
    background: url(../imagenes/turism.png) no-repeat 4px 10px;        
 }

#sidebar .menu .menu5 {

    display: inline-block;
    background: url(../imagenes/faq_1.png) no-repeat 4px 10px;        
 }

#sidebar .menu .menu6 {

    display: inline-block;
    background: url(../imagenes/info.png) no-repeat 4px 10px;        
 } 

 #sidebar .menu .menu7 {

    display: inline-block;
    background: url(../imagenes/bird1.png) no-repeat 4px 10px;        
 } 


.submenu .chk_bs{
  display: inline-block;
    background: url(../imagenes/bicisenda.png) no-repeat 4px 10px; 

}  


.submenu .chk_cv{
  display: inline-block;
    background: url(../imagenes/ciclovia.png) no-repeat 4px 10px; 

}  

.submenu .chk_z30{
  display: inline-block;
    background: url(../imagenes/z30_10.png) no-repeat 4px 10px; 

}  

.submenu .chk_es{
  display: inline-block;
    background: url(../imagenes/gasolinera.png) no-repeat 4px 10px; 

}  

.submenu .chk_bp{
  display: inline-block;
    background: url(../imagenes/bicipunto2.png) no-repeat 4px 10px; 

}  

.submenu .chk_sp{
  display: inline-block;
    background: url(../imagenes/secpolicial.png) no-repeat 4px 10px; 

}  

.submenu .chk_pm{
  display: inline-block;
    background: url(../imagenes/pm2.png) no-repeat 4px 10px; 

}  

.submenu .chk_ba{
  display: inline-block;
    background: url(../imagenes/biciamigo3.png) no-repeat 4px 10px; 

}  

.submenu .chk_bi{
  display: inline-block;
    background: url(../imagenes/bicici2.png) no-repeat 4px 10px; 

}  

/* radio buttons */

.submenu .rad_bs{
  display: inline-block;
    background: url(../imagenes/bicisenda.png) no-repeat 4px 10px; 

}  


.submenu .rad_cv{
  display: inline-block;
    background: url(../imagenes/ciclovia.png) no-repeat 4px 10px; 

}  

.submenu .rad_z30{
  display: inline-block;
    background: url(../imagenes/z30_10.png) no-repeat 4px 10px; 

}  

.submenu .rad_es{
  display: inline-block;
    background: url(../imagenes/gasolinera.png) no-repeat 4px 10px; 

}  

.submenu .rad_bp{
  display: inline-block;
    background: url(../imagenes/bicipunto2.png) no-repeat 4px 10px; 

}  

.submenu .rad_sp{
  display: inline-block;
    background: url(../imagenes/secpolicial.png) no-repeat 4px 10px; 

}  

.submenu .rad_pm{
  display: inline-block;
    background: url(../imagenes/pm2.png) no-repeat 4px 10px; 

}  

.submenu .rad_ba{
  display: inline-block;
    background: url(../imagenes/biciamigo3.png) no-repeat 4px 10px; 

}  

.submenu .rad_bi{
  display: inline-block;
    background: url(../imagenes/bicici2.png) no-repeat 4px 10px; 

}  



/* FAQ   */
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);  
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 15%;/*400px;  */
  position: relative;
  left:auto;
  right:auto;  
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 4px; /*10px*/
  color:#DFE0DF;
  background: #851416; /*#fff;*/
  /*background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999); */ 
}

.modalDialog1 {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);  
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog1:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog1 > div {
  width: 15%;/*400px;  */
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 4px; /*10px*/
  color:#DFE0DF;
  background: #851416; /*#fff;*/
  /*background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999); */ 
}

.modalDialog2 {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);  
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog2:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog2 > div {
  width: 15%;/*400px;  */  
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 4px; /*10px*/
  color:#DFE0DF;
  background: #851416; /*#fff; */
  /*background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999); */ 
}


.modalDialog3 {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);  
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog3:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog3 > div {
  width: 15%;/*400px;  */
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 4px; /*10px*/
  color:#DFE0DF;
  background: #851416; /*#fff; */
  /*background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999); */ 
}

.modalDialog4 {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);  
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog4:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog4 > div {
  width: 15%;/*400px;  */
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 4px; /*10px*/
  color:#DFE0DF;
  background: #851416; /*#fff; */
  /*background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999); */ 
}

.modalDialog5 {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);  
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog5:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog5 > div {
  width: 15%;/*400px;  */
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 4px; /*10px*/
  color:#DFE0DF;
  background: #851416; /*#fff; */
  /*background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999); */ 
}

.modalDialog6 {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);  
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog6:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog6 > div { 
  width: 15%;/*400px;  */
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 4px; /*10px*/
  color:#DFE0DF;
  background: #851416; /*#fff; */
  /*background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999); */ 
}

.modalDialog7 {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);  
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog7:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog7 > div { 
  width: 15%;/*400px;  */
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 4px; /*10px*/
  color:#DFE0DF;
  background: #851416; /*#fff; */
  /*background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999); */ 
}


.close {
  display: inline;   
  /*text-align:center;  */  
  vertical-align:text-top;   
  background: #851416;

  color: #FFFFFF;

  line-height: 25px; /*25px;  */
  position: absolute;
  right: -20px;  /*12 -7px*/
    
  top: -15px;  /*10 -7px*/
  width: 2px; /*24px 2*/
  height:2px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 2px;  /*12px*/
  -moz-border-radius: 2px;
  border-radius: 2px;
 /* -moz-box-shadow: 1px 1px 2px #4A130D;
  -webkit-box-shadow: 1px 1px 2px #4A130D;
  box-shadow: 1px 1px 2px #4A130D*/
}

.close:hover { background: #B03B24; }



