
.mm-menu {  
  width: 80% !important;  
  background: #0A7A26 !important;   
 
}

html.mm-opening .mm-slideout {
     -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0) ;
  -o-transform: translate(100%, 0) ;
  transform: translate(100%,0);  }
  

@media all and (max-width: 240px) {

.mm-menu {  
 
  min-width: 165px !important;  
  
} 

.logo10 {
		
		transform: translateX(70%);
		left: 80px;
	}

  html.mm-opening .mm-slideout {
    -webkit-transform: translate(200px, 0) ;
    -moz-transform: translate(200px, 0) ;
    -ms-transform: translate(200px, 0) ;
    -o-transform: translate(200px, 0) ;
    transform: translate(200px, 0); } 
 }
  
@media all and (min-width: 320px) {

.mm-menu {  
 
  min-width: 256px !important;  
  
}  

	.logo10 {
		
		transform: translateX(50%);
		left: 80px;
	}

  
  html.mm-opening .mm-slideout { /*380 andaba arriba  */
    -webkit-transform: translate(395px, 0) ;
    -moz-transform: translate(395px, 0) ;
    -ms-transform: translate(395px, 0) ;
    -o-transform: translate(395px, 0) ;
    transform: translate(395px, 0); } 
   }


@media all and (min-width: 550px)  {

.mm-menu {  
 
  min-width: 256px !important;  
  
} 
	
  html.mm-opening .mm-slideout {
    -webkit-transform: translate(700px, 0);
    -moz-transform: translate(700px, 0) ;
    -ms-transform: translate(700px, 0) ;
    -o-transform: translate(700px, 0) ;
    transform: translate(700px, 0);}
}  

@media all and (min-width: 480px)  {

.mm-menu {  
 
  min-width: 256px !important;  
  
} 
	
  html.mm-opening .mm-slideout {
    -webkit-transform: translate(520px, 0);
    -moz-transform: translate(520px, 0) ;
    -ms-transform: translate(520px, 0) ;
    -o-transform: translate(520px, 0) ;
    transform: translate(520px, 0);}
}  


.header{  /* antes tb iba en #page */
 	background: #056E20 !important;
    position: relative;
    //z-index: 15;
}

  

